.chart-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
 
}

.chart-text {
  width: 45%; /*text section */
}

.chart-chart {
  width: 50%; /*chart section */
}
